Package: com.custom.idfvspoofer
Name: IDFVSpoofer
Version: 5.5.1
Architecture: iphoneos-arm64
Description: GGPoker Ban Bypass - Toggle each feature via plist (Filza editable)
Maintainer: Custom
Author: Custom
Section: Tweaks
Depends: ellekit | mobilesubstrate | com.ex.substitute
